<link rel="stylesheet" href="/stylesheets/footer.css">

<footer>
  <div class="painel">

    <div class="cardx">
      <img class="logo2" src="/images/LOGO_COPCLUB_140x.webp" alt="logo" width="80px">
      <div class="iconredes">
        <p class=" textsomos"> Somos a COPCLUB e trazemos para vocês os principais lançamentos com ampla
          disponibilidade
          e garantia de autenticidade.</p>
      </div>
      <div class="redes">
        <i class="fa-brands fa-facebook-square"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>

    <div class="cardx">
      <h3>INSTITUCIONAL</h3>
      <ul class="lista" style="list-style: none;">
        <li> <a href="">Quem Somos</a></li>
        <li> <a href="">Nossas Lojas</a></li>
        <li> <a href="">Política de Privacidade</a></li>
        <li><a href="">Política de reembolso</a></li>
        <li><a href="">Termos de serviço</a></li>
        <li><a href=""> Politica de Envio</a></li>
      </ul>
    </div>

 <div class="card2">
      <h3>CONTATO</h3>
      <ul class="listaContato" style="list-style: none;">
        <li> <div class="wpp">Whatsapp
          </div><div class="number">+55 11 95454 5560</div></li>
        <li><div class="email">E-mail:</div>
          <div class="enderecoemail">copclub.br@gmail.com</div></li>
        <li><div class="dias">Segunda - Sexta</div><div class="horarios">08:00 - 20:00</div>
          </li>
          <li><div class="dias">Segunda - Sexta</div><div class="horarios">08:00 - 20:00</div>
          </li>
      </ul>
    </div>

    <div class="cardx">
      <h3> FIQUE POR DENTRO </h3>
      <p></p>
      <h5>Receba as novas promoções e produtos.</h5>
      <p></p>
      <button> Se inscrva </button>
    </div>
  </div>

</footer>