<link rel="stylesheet" href="/stylesheets/cadastroUser.css">

<body>
  <%- include('./partials/header') %>
 
 
    <div class="blocao"> 

    <div class="bloco2">  
         <div class="logo"><img class="log" src="/images/LOGO_COPCLUB_140x.webp" width="120px">
           </div> 
   <h2>Faça seu cadastro</h2>  
    
    <br>
    <div class="blocoinputuser">

      <form action="" method="POST" enctype="multipart/form-data">
        <div class="legenda">  Foto de Perfil </div>
        <input class="inputuser" type="file" id="cname" name="avatar" placeholder="Foto de perfil de perfil">

    <div class="legenda">  Nome: </div>
        <input class="inputuser" type="text" id="cname" name="nomeUser" placeholder="Nome">

    <div class="sobrenome"> Sobrenome </div>
        <input class="inputuser" type="text" id="cname" name="sobrenomeUser" placeholder="Sobrenome" >
     
    <div class="legenda">Data de Nascimento:</div>
        <input class="inputuser" type="date" id="" name="idadeUser" placeholder="01/01/1900">
      
    <div class="legenda">CPF: </div>
        <input class="inputuser" type="text" id="" name="cpfUser" placeholder="111.222.333-44">
     
    <div class="legenda">Número de telefone: </div>
        <input class="inputuser" type="text" id="" name="telefoneUser" placeholder="(99)99999-9999">
     
    <div class="legenda" >e-mail: </div>
        <input class="inputuser" type="text" id="cname" name="emailUser" placeholder="exemplo@email.com">
                 
      
    <div class="legenda">CEP: </div>
      <input class="inputuser" type="text" id="" name="cepUser" placeholder="00000-000">
   
     <div class="continue"><input type="submit" value="Cadastrar" class="btn"> </div>
    
    </form>

</div>
  </div>   
</div>   

     <%- include('./partials/footer') %> 

</body>
 
