<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/home.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Ropa+Sans&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>
  <%- include('./partials/header') %>



  <main>
    
    <div class="main">
      <a href="/sale"><img src="/images/baner1.jpeg" alt="banersale" ></a>
    </div>

    <div class="trio">

      <div class="cartao">
        <span class="iconify" data-icon="ant-design:credit-card-outlined" style="color: #ff007d;"
          data-width="50"></span>
        <h5>10X SEM JUROS</h5>
        <h6>Parcela mínima de R$ 60,00</h6>
      </div>

      <div class="cartao">
        <span class="iconify" data-icon="bxs:discount" style="color: #ff007d;" data-width="50"></span>
        <h5>5% NO PIX</h5>
        <h6>5% de desconto em compras no pix</h6>
      </div>

      <div class="cartao">
        <span class="iconify" data-icon="entypo:back-in-time" style="color: #ff007d;" data-width="45"></span>
        <h5>TROCA EM ATÉ 30 DIAS</h5>
        <h6>Troca garantida sem uso</h6>
      </div>

    </div>


    <div class="roupas">

      <div class="painelroupas">
        <img class="foto" src="/images/japinha.jpeg" width="100%">
      </div>

      <div class="cardsroupas">
        <a href="/roupas"> <h2 class="top">Roupas</h2> </a>
       <hr>
     
        <div class="grade">

          <div class="card">
              <img src="/images/cami1.jpeg" alt="camiseta" height="200px">
              <div class="descricao">
                <a href="">Camiseta Gotzky "Gravity" Branco R$ 239,90</a>
              </div>
          </div>
          
          <div class="card">
              <img src="/images/cami2.jpeg" alt="camiseta" height="200px">
              <div class="descricao">
                <a href="">Camiseta Gotzky "Eiffel Tower" Azul  R$ 219,90</a>
              </div>
          </div>
          
          <div class="card">
              <img src="/images/cami3.jpeg" alt="camiseta" height="200px">
              <div class="descricao">
                <a href="">Camiseta Gotzky "Doubles" Branco R$ 219,90</a>
              </div>
          </div>
         
          <div class="card">
              <img src="/images/CAMIcogumelo.webp" alt="camiseta" height="200px">
              <div class="descricao">
                <a href="">
                  Camiseta Jordan x Off White "Branca"
                  R$ 3.299,90
                </a>    

               
              </div>
          </div>

          <div class="card">
              <img src="/images/CAMjordan.webp" alt="camiseta" height="200px">
              <div class="descricao">
                <a href="">Camiseta Piet Oversized "Weekend Life" Branco  R$ 329,90
                </a>
              </div>
          </div>



          <div class="card">
              <img src="/images/CAMpiet.webp" alt="camiseta" height="200px" >
              <div class="descricao">
                <a href=""> 
                  >Camiseta Piet Oversized "Weekend Life" Branco  R$ 329,90
                </a>
              </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="bel">
      <img class="video" src="/images/bee.jpeg" width="100%">
    </div>

    <div class="roupas">
      <div class="painelroupas">
        <img class="foto" src="/images/tenis.jpeg" width="100%" >
      </div>

      <div class="cardsTenis">
        <a href=""><h2 class="top">Tênis</h2></a>
      
        <hr>
        
        <div class="gradeT">

          <div class="cardT">
            <img src="/images/t1.jpeg" alt="tenis" height="200px">
            <div class="descricaoT">
              <a href="/produto">Tênis Air Jordan 4 Retro SE "Zen Master" Tye Dye   R$ 3.499,90
              </a>
            </div>
          </div>

          <div class="cardT">
            <img src="/images/t2.jpeg" alt="tenis"  height="200px">
            <div class="descricaoT">
              <a href=""> Tênis Nike Air Trainer 1  "Cactus Corporation" Marrom  R$ 4.409,90
              </a>
            </div>
          </div>

          <div class="cardT">
            <img src="/images/t3.jpeg" alt="tenis"  height="200px">
             <div class="descricaoT">
              <a href="">  Tênis Air Jordan 1 Low "Grey Pink" Cinza R$ 2.239,90
              </a>
              </div>
          </div>
         
          <div class="cardT">
            <img src="/images/TENjordanVermelho.webp" alt="tenis" width="200px" height="150px">
             <div class="descricaoT">
              <a href=""> Tênis Air Jordan 3 "Cardinal Red" Branco/Vermelho
                R$ 2.049,90
              </a>
              </div>
          </div>


          <div class="cardT">
            <img src="/images/Tenjordanpreto.jpg" alt="tenis" width="200px" height="150px">
             <div class="descricaoT">
              <a href="">  Tênis Air Jordan 4 "Black Canvas" Preto
                R$ 2.999,90
              </a>
              </div>
          </div>

          <div class="cardT">
            <img src="/images/Tenjordanbranco.webp" alt="tenis" width="200px" height="150px">
             <div class="descricaoT">
              <a href="">  Tênis Air Jordan 1 Mid "Neutral Grey" Branco/Cinza R$ 2.659,90
              </a>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="banerlaranja">
      <img class="laranja" src="/images/banel.jpeg" width="100%">
    </div>
    <div class="cardsmarcas">
      <img src="/images/f1.jpeg">
      <img src="./images/f2.jpeg">
      <img src="/images/f3.jpeg">
      <img src="/images/f4.jpeg">
      <img src="/images/f5.jpeg">
      <img src="/images/f6.jpeg">
    </div>

  </main>
  <%- include('./partials/footer') %> 

  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script src="https://kit.fontawesome.com/bc8a819dc8.js" crossorigin="anonymous"></script>
</body>

</html>